<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <article class="article maincontent">
        <h1>Who are we?</h1>
        <p>
          Munchkin malkin but burmese, scottish fold. British shorthair american
          shorthair cheetah. American bobtail bobcat yet american bobtail yet
          cheetah but kitty malkin or sphynx. Havana brown kitten donskoy.
          Kitten malkin siamese but tom burmese. Kitten. Singapura kitty.
          Cheetah malkin but leopard for tomcat and burmese himalayan. Siamese
          malkin. Persian donskoy malkin. Himalayan. Turkish angora grimalkin so
          kitten. Sphynx norwegian forest or thai bengal but cornish rex havana
          brown. Lynx.
        </p>
        <p>
          Havana brown persian so thai himalayan singapura himalayan for
          abyssinian . Mouser british shorthair so tiger, so british shorthair.
          Leopard ocicat or devonshire rex kitten donskoy grimalkin. Tiger lynx
          panther american bobtail siberian turkish angora. Ocicat. Birman
          egyptian mau. Panther lion yet kitty. Himalayan. Thai munchkin havana
          brown. Thai. Donskoy russian blue savannah. Tomcat lynx, leopard,
          cornish rex balinese but abyssinian . Bengal mouser british shorthair
          so siamese yet puma, american bobtail cornish rex. Panther. Siamese
          russian blue for kitten but savannah yet bobcat. Cougar panther.
        </p>
      </article>
      <article class="article maincontent">
        <h2 class="article-title">Get Busy!</h2>
        <p>
          If you want to keep up with what&apos;s going on with the group,
          <a href="http://www.meetup.com/rouxmeet">join our meetup group</a>,
          <a href="http://www.twitter.com/rouxmeet">follow us on twitter</a>. If
          you&apos;re in FaceBook, you can also
          <a href="http://www.facebook.com/rouxmeet">join our FaceBook group</a
          >.
        </p>
      </article>
    </div>

    <aside class="col-md-4">
      <article class="sidebar">
        <h1 class="sidebar-title">Who should come?</h1>
        <ul class="sidebar-body">
          <li>Anybody interested in cats and the feline gangs</li>
          <li>
            Dogs, especially those whose name start with Poodles and Pomeranians
          </li>
          <li>
            Those whose clothes are littered with cat fur.
          </li>
        </ul>
      </article>
    </aside>
  </div>
</div>
