<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= pageTitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/assets/css/main.css" rel="stylesheet" />
  </head>

  <body>
    <%- include(`../pages/${template}`) %>
    <script type="text/javascript" src="/assets/js/main.js"></script>
  </body>
</html>
